/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

a {
  color: #00e; }

a:visited {
  color: #551a8b; }

a:hover {
  color: #06e; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 0; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

pre,
code,
kbd,
samp {
  font-family: 'Menlo', monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 85%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

ul, ol {
  margin: 0;
  padding: 0; }

dd {
  margin: 0; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button,
input {
  line-height: normal; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled],
input[disabled] {
  cursor: default;
  color: #bbb; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

input:invalid, textarea:invalid {
  background-color: #f0dddd; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0; }

/* BASIC
***************************************************************************************************/
::-moz-selection {
  background: #000;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #000;
  color: #fff;
  text-shadow: none; }

a:link {
  -webkit-tap-highlight-color: #000; }

html {
  height: 100%; }

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #000;
  background: #fff;
  position: relative;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  font-size: 20px;
  font-size: 5vmax; }

input,
textarea,
select {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased; }

*:focus {
  outline: none !important; }

a {
  text-decoration: none; }
  a, a:hover, a:active, a:visited {
    color: inherit; }
  a:hover {
    text-decoration: none; }

/* MAIN
*****************************************************************************************/
.list {
  display: flex;
  flex-flow: row wrap; }
  .list > a {
    padding: .6em .4em .2em;
    border: 2px solid #20934e;
    border-radius: .2em;
    margin: .2em;
    text-align: center;
    position: relative;
    font-weight: bold;
    min-width: .9em; }
    .list > a.cancel {
      border-color: #f00;
      color: #f00; }
    .list > a.empty {
      border-color: #000;
      opacity: .2;
      pointer-events: none; }
      .list > a.empty small {
        display: none; }
    .list > a small {
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: .5em;
      line-height: 1;
      color: #20934e; }

.detail {
  text-align: center;
  padding: 30px; }
  .detail h1 {
    font-size: 1.2em; }
  .detail p {
    margin: 1em 0;
    font-size: .7em; }
  .detail .circle {
    display: block;
    width: 7em;
    height: 7em;
    border-radius: 7em;
    box-shadow: 0 0 0 1px #000;
    margin: 1em auto;
    font-size: .7em; }
    .detail .circle strong {
      font-size: 4em;
      font-weight: 100;
      display: block;
      line-height: .9;
      padding-top: .2em; }

button {
  padding: .5em 3em;
  background: #20934e;
  color: #fff;
  border-radius: .2em;
  border: none; }
